################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/skill/FileContentIndex
/.vs
/calc_sf/.vs/calc_sf/FileContentIndex
/Module3+/.vs/Module3+/FileContentIndex
/Module5/.vs/Module5/FileContentIndex
/Module5_itog/.vs/Module5_itog/FileContentIndex/1fa602a9-39bc-45c7-b69e-2dc5fb183181.vsidx
/Module4/.vs/Module4/FileContentIndex
/Module7.itog/.vs/Module7.itog/DesignTimeBuild/.dtbcache.v2
*.vsidx
*.v2
*.exe
*.dll
/Module8.itog/FinalTask/.vs/FinalTask/v17/.suo
/Module8.itog/FinalTask/obj/Debug/net6.0/FinalTask.pdb
/Module8.itog/FinalTask/bin/Debug/net6.0/FinalTask.pdb
/Module10_z1/.vs/Module10_z1
/Module9_2/.vs/Module9_2/v17/.suo
/Module9_2/.vs/ProjectEvaluation/module9_2.metadata.v6.1
/Module9_2/.vs/ProjectEvaluation/module9_2.projects.v6.1
/Module10_z1/.vs/ProjectEvaluation
/Module10_z1/bin/Debug/net6.0
/Module10_z1/obj
/Module10_z2/.vs/Module10_z2
/Module10_z2/bin/Debug/net6.0
/Module10_z2/obj
